/* Container for the summary */
.summary-container {
    margin: 0;
    color: #fff; /* Lighter text color for better contrast */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark background to match the night theme */
}

/* Title styling */
.summary-title {
    text-align: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(255, 165, 0, 0.6)); /* Darker gradient for a night look */
    color: white;
    padding: 20px 0;
    border-bottom: 3px solid #d04545; /* Festive red for a pop of color */
}

/* Title text styling */
.summary-title h1 {
    font-size: 2rem;
    margin: 0;
}

/* Filter container styling */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

/* Filter label styling */
.filter-container label {
    font-size: 1rem;
    font-weight: bold;
    color: #d04545; /* Festive red */
}

/* Filter select styling */
.filter-container select {
    padding: 5px 10px;
    border: 2px solid #d04545; /* Festive red */
    border-radius: 5px;
    font-size: 1rem;
}

/* Filter select styling */
.filter-container input {
    padding: 5px 10px;
    border: 2px solid #d04545; /* Festive red */
    border-radius: 5px;
    font-size: 1rem;
}

/* Summary item styling */
.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Lighter background for items */
    border: 2px solid #d04545; /* Festive red */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

/* Summary details text styling */
.summary-details p {
    margin: 5px 0;
}

/* Summary actions container styling */
.summary-actions {
    display: flex;
    gap: 10px;
}

/* Button styling */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Reject button styling */
.reject {
    background-color: #ff6b6b;
    color: white;
}

.reject:hover {
    background-color: #e63939;
}

/* Complete button styling */
.complete {
    background-color: #3cb371;
    color: white;
}

.complete:hover {
    background-color: #2e8b57;
}

.reset {
    background-color: #ff6b6b;
    color: white;
}

.reset:hover {
    background-color: #e63939;
}
