.menu-container {
  padding: 20px;
  color: #f8eee6;
  font-family: 'Merriweather', serif;
  text-align: center;
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  color: #f4d03f;
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1.5rem;
  background-color: rgba(22, 3, 3, 0.4);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item:hover {
  background-color: rgba(22, 3, 3, 0.8);
}

.menu-details {
  text-align: left;

}

.order-button {
  background-color: rgba(249, 7, 7, 0.2);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #fa3c3c;
}
